/* Latest compiled and minified CSS included as External Resource*/

body {
    margin: 10px;
    background: #393939;
}
.b_kbd_check {
}
.b_kbd_check .check {
	font-size: 44px;
}
.b_kbd_check .description {
    font-size: 14px;
    /*color: #666;*/
}

.b_kbd_check .form {}
.b_kbd_check .form .form-group {}
.b_kbd_check .revealed {

}
.b_kbd_check .revealed h3 {
	display: none;
}

.b_kbd_check .revealed > .in {

}
.b_kbd_check .revealed-list div {
	height: 34px;
	margin-bottom: 15px;

	line-height: 34px;
	vertical-align: middle;
}

.b_kbd_check .revealed-list div span {
	padding: 4px;
}
.b_kbd_check .revealed-list div .correct {
	background: #7CB97C;
}
.b_kbd_check .revealed-list div .incorrect {
	background: #EF3E3E;
}
